<div class="container-fluid text-md-center m-2">
  <h1 id="tableLabel">Drone Delivery Service</h1>
</div>

<div class="container m-5">
  <div class="row">
    <div class="col-7">
      <table *ngIf="forecasts" class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.date }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <div class="row">
        <table class="table-active">
          <thead>
            <tr>
              <th>Drone Name</th>
              <th>Max Weight</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Drone Name</td>
              <td>Max Weight</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <table class="table-active">
          <thead>
            <tr>
              <th>Location Name</th>
              <th>Package Weight</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Location Name</td>
              <td>Package Weight</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

