<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Drone service Provider</a>
    <div class="d-flex" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button type="button" class="btn" (click)="openLocationModal()" data-bs-toggle="modal" data-bs-target="#locationCreation">Location</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn" (click)="openDroneModal()" data-bs-toggle="modal" data-bs-target="#droneCreation">Drone</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<drone-create-root></drone-create-root>
<location-create-root></location-create-root>

<div class="container m-5">
  <div class="row">
    <div class="col-8">
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Drone</th>
            <th>Trip</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let droneLocation of droneLocations">
            <td>{{ droneLocation.droneName }}</td>
            <td>{{ droneLocation.trips }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <div class="row">
        <drone-root></drone-root>
      </div>
      <div class="row">
        <location-root></location-root>
      </div>
    </div>
  </div>
</div>

